<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Hitung Luas Keliling</title>
</head>
<body>
  <form action="/persegi-panjang" method="post">
    <div>
      <label for="panjang">Panjang:</label><br>
      <input type="number" name="panjang" id="panjang">
    </div>
    <div>
      <label for="lebar">Lebar:</label><br>
      <input type="number" name="lebar" id="lebar">
    </div><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>